<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us - Autosphere</title>
  <link rel="stylesheet" href="static/css/about.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="about-body">

  <div class="sidebar">
    <div class="logo">
      <img src="static/css/logo.png" alt="Autosphere Logo">
      <h2>AUTOSPHERE</h2>
    </div>
    <nav>
      <a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
      <a href="{{ url_for('search') }}"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
      <a href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Profile</a> 
      <a href="{{ url_for('contact') }}"><i class="fas fa-phone"></i> Contact Us</a>
      <a href="{{ url_for('about') }}"><i class="fa-solid fa-star"></i>Why Autosphere</a>
      <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </nav>
    
  </div>

  <div class="about-main">
    
    <div class="about-header">
      <div class="logo">
        <img src="static/css/logo.png" alt="Autosphere Logo">
        <span>Why Autosphere</span>
      </div>
    </div>

    <h1>Why Use Autosphere?</h1>

    <div class="about-content">

      <div class="about-box">
        <h2>Our Mission</h2>
        <p>At Autosphere, our mission is to empower car buyers with the knowledge, tools, and confidence to make smart, independent decisions—free from sales pressure and overpricing. We’re creating a trusted space where anyone can explore, compare, and choose the right car with ease and clarity.</p>
      </div>

    </div>
  </div>

</body>
</html>
